div{
    width: 400px;
    height: 400px;
    background-image: url(A004.png);
    padding: 20px 0 0 20px;
    color: #fff;
}
.assign-4-shape-1{
    background-repeat: no-repeat;
    background-size: 80%;
}
.assign-4-shape-2{
    background-repeat: repeat-y;
    background-size: 80%;
    background-position: 100% 100%;
}
.assign-4-shape-3{
    background-repeat: repeat-x;
    background-size: 80%;
    background-position: 100% 100%;
    
}
.assign-4-shape-4{
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 100% 100%;
}
