.element {
    width: 400px;
    padding: 10px;
    border-left: 5px solid;
    margin-bottom: 10px;
    background-color: #eee;

  }
  
  .element-1 {
    border-color: #e91e63;
  }
  
  .element-2 {
    visibility: hidden;
  }
  
  .element-3 {
    border-color: #009688;
  }
  